__pycache__
.idea/workspace.xml
.idea/FARMWISE.iml
.idea/FARMWISE.iml
.idea/misc.xml
.idea/workspace.xml
.idea/*
.venv
.vscode
*.egg-info
fidel.env
working_backup.py
main_call_example.py
server/server.log
test_request.py
server/user_storage.db
user_storage.db
server.log
test_call.py
test_call.py
imgw_cds.csv
adapters/API_readers/soilgrids/temp_storage/out_soc.tif
adapters/API_readers/soilgrids/temp_storage/out_silt.tif
adapters/API_readers/soilgrids/temp_storage/out_sand.tif
adapters/API_readers/soilgrids/temp_storage/out_phh2o.tif
adapters/API_readers/soilgrids/temp_storage/out_ocs.tif
adapters/API_readers/soilgrids/temp_storage/out_ocd.tif
adapters/API_readers/soilgrids/temp_storage/out_nitrogen.tif
adapters/API_readers/soilgrids/temp_storage/out_clay.tif
adapters/API_readers/soilgrids/temp_storage/out_cfvo.tif
adapters/API_readers/soilgrids/temp_storage/out_cec.tif
adapters/API_readers/soilgrids/temp_storage/out_bdod.tif
adapters/API_readers/soilgrids/temp_storage/out.tif
adapters/API_readers/cds/temp_storage/reanalysis-era5-single-levels_temp_data.nc
adapters/API_readers/soilgrids/temp_storage/out.tif
adapters/API_readers/corrective/data/*
adapters/API_readers/eea/eea_data/*
adapters/API_readers/EuroCropV2/data/*
adapters/API_readers/IFSGRID/data/*
*.env
server/routers/__pycache__/data_call.cpython-39.pyc
.idea/workspace.xml
temp_files/
.idea/workspace.xml
adapters/API_readers/IFSGRID/data/IFSGRID/*
eea_r_3035_1_km_env-zones_p_2018_v01_r00.tif
